<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

    <nav>
        <a href="/attractions">
            <button>Tourist attractions overview</button>
        </a>
        <a href="/attractions/createNewAttraction">
            <button>Add new tourist attraction</button> </a><!-- redirect to form page -->
    </nav>

<div class="container">

    <main class="welcome-box">
<h2>Welcome to 'The TouristGuide'</h2>
        <h5>Your guide to the capital of Denmark, Copenhagen.</h5>
        <p>
            Here you can expect to find suggestions for your visit.
    <br>
    Hidden gems, public tourist attractions and more.
</p>
    </main>
</div>


<footer>
    Contact: coming soon!
</footer>
</html>
