<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/tags.css}">
</head>
<body>
<header>
    <h1>
        <span th:text="${attraction.name + '\'s tags'}"></span>
    </h1>
</header>
<nav th:replace="~{fragments/navigation :: navbar}"></nav>
<div class="container">
    <main>
        <ul th:if="${not #lists.isEmpty(attraction.tags)}">
            <li th:each="tag : ${attraction.tags}" th:text="${tag}"></li>
        </ul>
        <p th:unless="${not #lists.isEmpty(attraction.tags)}">No tags for this attraction.</p>
        <div class="button">
            <a th:href="@{/attractions}">
                <button type="button">Back</button>
            </a>
        </div>
    </main>
</div>
</body>
</html>
